html {box-sizing: border-box;}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --logo-color: #2196F3;
  --descript-color: #757575;
  --addres-footer-color: rgba(255, 255, 255, 0.6);
  --font-color: #212121;
  --background-button: #F5F4FA; 
  --dark-background-color: #FFFFFF;
  --fix: tomato;
}

h1,h2,h3 {margin: 0px;}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
    margin: 0px;
    font-family: roboto, sans-serif;
    /* font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em; */
    background-color: turquoise;}

.container {
width: 1200px;
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-right: auto;
outline: 2px solid var(--fix);
}


/* =====header===== */
.header__address {
  margin-left: auto;
}
header .item + .item {margin-left: 50px;}

header p {margin: 25px 0px;}
header .link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: var(--font-color);
  display: block;
  padding: 31px 0px;
}
  header .link:hover, header .link:focus {
    color: var(--logo-color);
  }

.logo { color: var(--logo-color) ;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  margin-right: 93px;
 } 
  .logo_Studio { color: var(--font-color);}
  .addres-link:not(:last-child) {margin-right: 50px;}
 

.addres-link 
{font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
 color: var(--descript-color);}
 .addres-link:hover, .addres-link:focus {
color: var(--logo-color);
 }
 
 nav .current {
  color: var(--logo-color);}

  .leveling {display: flex;
    align-items: baseline;
  }
  .header__nav {display: flex;
    align-items: baseline;}
  .header__list {display: flex;}
  header {
    border-bottom: 1px solid #ECECEC;}
    main p {margin-bottom: 0px;}

/* =====hero===== */
.hero {
  text-align: center;
  background-color: #2F303A;}
.hero .title { 
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-background-color) ; 

margin-bottom: 30px ;}
.hero__bloс {padding:200px 0px;}

  /* =====button===== */
  .hero .button {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--dark-background-color);
background-color: var(--logo-color);
padding: 10px 32px;
  }
/* =====filter===== */
  .filter .button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-color);
    background: var(--background-button);

    padding: 6px 22px;
  }
  .button:hover, .button:focus {
color: var(--dark-background-color);
background-color: var(--logo-color);
  }
  .button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    
  }
/* .bbbutton {border-radius: 4px;
  font-size: 16px;
  padding: 6px 22px;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;


  color: tomato;
  background-color: blue;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;} */


/* =====advantages===== */
.advantages__list {
  /* width: calc((100% - 90px) / 3); */
  display: flex;}

.advantages__list:not(:last-child) {margin-right: 30px;}

.advantages__title{
  font-family: Roboto;
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--font-color);
margin-top: 0px;
}
.advantages__descript {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color:var(--descript-color);}

  /* =====specialty===== */
.specialty__title {
font-family: Roboto;
font-weight: bold;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
color: var(--font-color);
}

/* =====team===== */
.team__title{
  font-family: Roboto;
    font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color);}
.team__subtitle {font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color);
  }
  .team__descript {
    font-family: Roboto;
font-weight: normal;
font-size: 16px;
line-height: 1.1875;
text-align: center;
letter-spacing: 0.03em;
color:var(--descript-color);
  }

  
/* =====Portfolio===== */
.our_projects__title {
  font-family: Roboto;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--font-color);
}
.our_projects__descript {
  font-family: Roboto;
font-weight: normal;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--descript-color);
}

  /* =====footer===== */
footer .container {
  padding:60px 0px ;}
footer p {
  margin-top: 0px;
  margin-bottom: 0px;}
footer .logo {
  display: inline-block;
  margin-right: 0px;
  padding-bottom: 20px;
}
footer .logo_Studio {
  color: var(--dark-background-color);}
footer {
  background-color: #2F303A;
}
footer address { 
  color: var(--dark-background-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;

  display: flex;
  flex-direction: column;
  font-style: normal;
  }
footer address a {
  color: rgba(255, 255, 255, 0.6);
 }


/* ====кусочок коду для приховування непотрібно-технічного заголовку===
===hidden=== */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;}